/*
body {
  background-color: #222324;
}
*/

/*
- Tirando todo o espaçamento entre os elementos
- Tirando todo o preenchimento interno entre os elementos
*/

/* --- RESET --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 20%;
  height: auto;
}

/* --- VARIABLES --- */
/*
- ROOT é o elemento pai do HTML, logo tudas as coisas definidas aqui, alteram toda a estrutura da página.
- atraves de --base-color: #FFFFFF por exemplo, são definidas variaveis para as cores padrão do site
*/
:root{
/* --- Cores de fundo do site ---  */
/* Cor de Fundo Primaria: #222324 - (Escura) */
--base-color-primary: #222324;
/* Cor de Fundo Secundaria: #2B2C2D - (Clara, pórem não mais que a Terciaria) */
--base-color-secondary: #2B2C2D;
/* Cor de Fundo Terciaria: #3B3D3F - (Mais clara) */
--base-color-tertiary: #3B3D3F;

/*	--- Cor para os Textos do Site --- */
/* Cor de Titulo: #69B99D - (Verde Escuro) */
--title-color-primary: #69B99D;
/* Cor de Texto: #4ADAA8 - (Verde Claro) */
--text-color-secondary: #4ADAA8;
}


/* --- BASE ---*/
/*Alterando a fonte do body*/
body {
  font: 400 16px "DM Sans", sans-serif;
  color: var(--text-color-secondary);
  background-color: var(--base-color-primary);
}

h1 {
  font: 700 30px "Poppins", sans-serif;
  color: var(--title-color-primary);
}


/*
-Display da teg a sempre é por padrão inline, ou seja, não possui tamnaho nem largura. Logo, o inline-flex permite a flexibilidade para alteração como o 'align-items: center'
*/
.button {
  background-color: var(--text-color-secondary);
  color: var(--base-color-tertiary);
  height: 45.5px;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 5px;
  font: 500 1rem 'DM Sans', sans-serif;
  transition: background 0.5s;
}

.button:hover{
  background-color: var(--base-color-tertiary);
  color: var(--text-color-secondary);
}

/*
- background recebe um valor linear gradiente.
- 270 deg é os graus que receberão a cor gradinte, ou seja 270 graus de 360.
- inde de #4ADAA8 (começando em 0%), para #3B3D3F (terminado em 100%).
*/
.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    #4ADAA8 0%,
    #3B3D3F 100%
  );
}

/* --- LAYOUT --- */
/*
- O border-bottom ira adicionar uma borda apenas na parte de baixo do site (por causa do bottom)
- "display: flex" faz com que os elementos do cabeçalho fiquem visiveis se adaptando a os espaços já definidos
*/
#header{
  border-bottom: 1px solid var(--base-color-tertiary);
  margin-bottom: 32px;
  display: flex;
}

/*
- display mantem os elementos alinhados e flexiveis dentro da nav
- assim como no word, você pode justificar o conteudo da linha pelo justify-content
- o space-between ira manter um espaço entre os elementos para as extremidades.
- O aling-itens ira literalmente alinhas os itens ao centro da box.
*/
nav {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_site {
  font: 700 21px "Poppins", sans-serif;
  color: var(--title-color-primary);
}

/*
- . para class 
- ira aplicar MARGIN de 1.5rem para as margens left e right, sendo elas 24px (cada 1rem conbiliza 16px logo 1.5rem = 16px + 8px).
- width: 100% irá ocupar todo o espaço.
*/
.container{
  width: 100%;
  margin-left: 24px;
  margin-right: 24px;
}

/*
- Com a possibilidade de atribuir mais de uma class para a div, o display grid será responsavel pelo espaçamento.
- O gap adiciona por padrão um espaçamento definido dentro dele.
*/
.grid{
  display: grid;
  gap: 32px;
}

.section {
  padding: 80px 0;
}

/* --- HOME --- */

/*
- "overflow: hidden" define um limite de espaçamento.
*/
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

/*
Elemento fantasma --> #home .image::before{
  content: 'testestestestsetes'
} 
*/

/*
# - Dentro da home --> Proucura a class image --> dentro de classificação image proucura o elemento img
*/
#home .image img{
  position: relative;
  margin-left: 24px;
  margin-right: 24px;
}

#home .text {
  margin-left: 24px;
  margin-right: 24px;
  text-align: center;
}

#home .text h1{
  margin-bottom: 16px;
}

#home .text p{
  margin-bottom: 32px;
}