
/**************   OPÇÕES GERAIS                 *************************/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
body{
    background-color: #202124;
    font-family: 'Spartan', sans-serif;
    color: white;
}
input{
    outline: 0;
    
}
/**************   TODA A PARTE DE LOGIN                 *************************/
.footer-social-links{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  
}
#bota_cad{
    outline: 0;
    border: 0;
}
.footer-social-links a{
    width: 25px;
    height: 25px;
    line-height: 30px;
    position: relative;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    color: #ffff;
    
}
.footer-social-links a i,
.footer-social-links a span{
    position: relative;

    
}
.footer-social-links a:before{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ffff;
}
.footer-social-links a:hover{
    color: #fff;
}
.footer-social-links a:hover:before{
    background: #4ADAA8;
}
.containernav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}
.containernav h3{
    text-align: center;
    font-style: italic;
    font-weight: 300;
    border-bottom: 2px solid white;
    cursor: pointer;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 90%;
    height: 90vh;
   flex-direction: column;
   
  
}
.container .login{
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 140px;
    width: 350px;
    flex-direction: column;
    
}
.container .login h1{
    margin-bottom: 10%;
}
.container .login p{
    margin-bottom: 10%;

}
.entrar{
    display: flex;
    flex-direction: column;
    margin: 5%;
    height: 200px;
    justify-content: space-evenly;
}
.entrar input{
    margin-top: 10%;
    font-size: 25px;
    font-weight: 500;
    color: white;
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 2px;
    border-bottom: 4px solid white;
    width: 340px;

}
.button_main {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5%;
  }
  .button_main {
    cursor: pointer;
    background-color: var(--first-color);
    color: var(--white-color);
    height: 56px;
    display: inline-flex;
    align-items: center;
    padding: 0 32px;
    border-radius: 5px;
    font-family: 'Spartan', sans-serif;
    transition: background 0.3s;
  }
  
  .button_main:hover {
    background-color: #3B3D3F;
    color: #4ADAA8;
  }








