
/**************   OPÇÕES GERAIS                 *************************/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}

body{
    background-color: #202124;
    font-family: 'Spartan', sans-serif;
    color: white;
}

input{
    outline: 0;  
}

/**************   TODA A PARTE DE LOGIN                 *************************/
.footer-social-links{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#bota_cad{
    outline: 0;
    border: 0;
}


.containernav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    width: 90%;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}



.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 2%;
    width: 90%;
    height: 90vh;
   flex-direction: column;
}
.login{
    height: 500px;
    text-align: center;
    width: 40%;
}
.login p {
    padding-top: 1%;
}

form{
    display: flex;
    flex-direction: column;
    height: 2000px;
    width: 30%;
    justify-content: space-evenly;
  }
form input{
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 15px;
    height: 17%;
    border: 0;
    border-bottom: 3px solid white;
}



.button_main {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5%;
}

.button_main {
    cursor: pointer;
    background-color: var(--first-color);
    color: var(--white-color);
    height: 56px;
    display: inline-flex;
    align-items: center;
    padding: 0 32px;
    border-radius: 5px;
    font-family: 'Spartan', sans-serif;
    transition: background 0.3s;
}

.button_main:hover {
    background-color: #3B3D3F;
    color: #4ADAA8;
}