
/******        FONTE PRINCIPAL                     **************/

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/******        SEGUNDA OPÇÃO DE FONTE                     **************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body{
  background-color: #202124;
}

:root{
  /* Colors */
  --first-color: #fff;
  --sub-color: #fff;
  --bg-color: #222324;
  --white-color: #FFF;
  
  /* Fonts */
  --body-font: 'Spartan', sans-serif;
  --normal-font-size: 16px;
  --small-font-size: 14px;
}

*{
  font-family: 'Spartan', sans-serif; 
}
a{
  text-decoration: none;
}

h1 {
  font-family: 'Spartan', sans-serif;
  color: #4ADAA8;
}

body{
  padding: 0;
  margin: 0;
}

span {
  font-family: 'Spartan', sans-serif;
}

/* SPAN PARA DEIXAR QUALQUER TEXTO NEGRITO span_negrito */
.span_negrito{
  font-weight: bolder;
  color: #4ADAA8;
  border-bottom: 2px solid #4ADAA8;
}

.stroke_divide{
  width: 100%;
  height: 2px;
  background-color: var(--first-color);
}

.header{
  color: var(--first-color);
  border-bottom: 3px solid #4ADAA8;
  text-align: center;
}

.header .name_company{
  color: var(--var-color-white);
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90%;
}
.navbar{
  height: 100%;
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: space-evenly;
  width: 40%;
  color: var(--sub-color);
  font-weight: 500;
  font-size: 20px;
}
.navbar a{
  color: var(--sub-color);
  text-decoration: none;
}

/* Banner */
.abt-us{
  display: flex;
  height: 100vh;
}

.logo_img{
  height: 500px;
  width: 500px;
}

.logo_img img{
  height: 100%;
}

.text {
  order: 0;
  max-width: 420px;
  text-align: left;
}

.text h1 {
  font-size: 32px;
  margin-bottom: 16px;
}

.text p {
  margin-bottom: 32px;
  color: white;
  font-size: 22px;
}

.button_main {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.button_main {
  cursor: pointer;
  background-color: #4ADAA8;
  color: #3B3D3F;
  height: 56px;
  display: inline-flex;
  align-items: center;
  padding: 0 32px;
  border-radius: 5px;
  font-family: 'Spartan', sans-serif;
  transition: background 0.3s;
}

.button_main:hover {
  background-color: #3B3D3F;
  color: #4ADAA8;
}

/*********************                LINHAS PARCEIRAS               *************/
.linhas{
  padding-right: 17%;
  display: flex;
}

.linha_img{
  padding: 3%;
  height: 540px;
  width: 540px;
}

.linha_img img{
  height: 100%;
}

.linhasTxt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 130px;
  width: 320px;
  cursor: pointer;
  position: relative;
  text-align: center;
}
  
linhasTxt h1{
  margin: 0;
  margin-top: 6%;
}
  
.linhasTxt p{
  color: white;
}

/* ANIMAÇÃO TEXTO */
.linhasTxt:after, 
.linhasTxt:before{
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right:0;
  transition: transform .3s ease-in-out;
  }
  .linhasTxt:before{
    border-left: 2px dashed #4ADAA8;
    border-right: 2px dashed #4ADAA8;
    transform:scaleY(0)
  }
  .linhasTxt:after{
    border-top: 2px dashed #4ADAA8;
    border-bottom: 2px dashed #4ADAA8;
    transform:scaleX(0)
  }
  .linhasTxt:hover::before{
    transform:scaleY(1)
  }
  .linhasTxt:hover::after{
    transform:scaleX(1)
  }

  /***************************                  CALCULADORA                   ***********/
  .calculadora{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;

  }
  .conteudo-resultado{
    display: flex;
  }
 
    .explica_cal h3{
      color: var(--first-color);
  
    }
   .explica_cal{
     font-size: 26px;
     width: 60%;
     height: 24px;
     align-self: center;
     margin-left: 2%;
   }
   
    .conta{
      padding-left: 2%;
      display: flex;
      color: var(--first-color);
      flex-direction: column;
 
      width: 40%;
    }
    .conta select{
      cursor: pointer;
      height: 40px;
      background-color: var(--sub-color);
      color: var(--bg-color);
      font-size: 18px;
      font-weight: bold;
      width: 39.4%;
      border: 0;
      border-radius: 5px;
    }

.conta option{
  color: #232424;
  font-weight: bold;
  font-size: 16px;
  padding: 2%;
}

.conta input{
  outline: 0;
  border-radius: 5px;
  border: 0;
  width: 38%;
  height: 40px;
  background-color: var(--sub-color);
  color: var(--bg-color);
  font-size: 18px;
  font-weight: bold;
}

.result{
  width: 35%;
}
    /**************               LOGIN                 **************/
.acessar{
  height: 240px;
  margin-bottom: 5%;

}

.login p{
  color: white;
  width: 400px;
}

.entrar{
  display: flex;
  flex-direction: column;
  margin: 5%;
  height: 200px;
  justify-content: space-evenly;
  margin-top: 3%;
}

.entrar input{
  margin-top: 8%;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: transparent;
  height: 20%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 4px solid white;
  width: 340px;
}

.footer-social-links{
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.footer-social-links a{
  width: 25px;
  height: 25px;
  line-height: 30px;
  position: relative;
  margin: 0 5px;
  text-align: center;
  display: inline-block;
  color: #ffff;  
}

.footer-social-links a i,
.footer-social-links a span{
    position: relative;   
}

.footer-social-links a:before{
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #ffff;
}

.footer-social-links a:hover{
    color: #fff;
}

.footer-social-links a:hover:before{
    background: #4ADAA8;
}

.options{
  display: flex;
  justify-content: space-evenly;
  width: 340px;
  height: 80px;
  padding-top: 3%;
}

.button_login {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  background-color: #4ADAA8;
  color: #3B3D3F;
  height: 85%;
  width: 23%;
  margin-top: 3%;
  padding-left: 5%;
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  font-family: 'Spartan', sans-serif;
  transition: background 0.3s;
}
.button_login:hover {
  background-color: #3B3D3F;
  color: #4ADAA8;
}

/************   FOOTER  **************/
#main_footer{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: var(--base-color-primary);
}
input{
  outline: 0;
}
footer{
  margin-top: 5%;
  position: relative;
  width: 100%;
  background-color: #69b99d;
  min-height: 100px;
  padding: 20px, 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social_icon{
  position: relative;
  padding-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
 
footer .menu_footer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

footer .social_icon li, 
footer .menu_footer li{
  list-style: none;
}

footer .social_icon li a{
  font-size: 32px;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a img{
height: 24px;
width: 24px;
}

footer .social_icon li a:hover{
  transform: translateY(-10px);
}

footer .menu_footer li a{
  font-size: 20px;
  color: #2B2C2D;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.70;
}

footer .menu_footer li a:hover{
  opacity: 1;
  color: #222324;
  transition: 0.5s;
}