@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  color:#69B99D;
  font-size: 20px;
}

img {
  width: 100%;
}

/*====  VARIABLES ============================ */
:root {
/* --- Cores de fundo do site ---  */
/* Cor de Fundo Primaria: #222324 - (Escura) */
--base-color-primary: #222324;
/* Cor de Fundo Secundaria: #2B2C2D - (Clara, pórem não mais que a Terciaria) */
--base-color-secondary: #2B2C2D;
/* Cor de Fundo Terciaria: #3B3D3F - (Mais clara) */
--base-color-tertiary: #3B3D3F;

/*	--- Cor para os Textos do Site --- */
/* Cor de Titulo: #69B99D - (Verde Escuro) */

--title-color-primary: #ffff;
/* Cor de Texto: #4ADAA8 - (Verde Claro) */
--text-color-secondary: #4ADAA8;

--title-color-primary: #69B99D;
/* Cor de Texto: #4ADAA8 - (Verde Claro) */
--text-color-secondary: #69B99D;

}

/* ====  BASE ============================ */
body {
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--title-color-primary);
  background: var(--base-color-primary);
}

h1 {
  font-family: 'Spartan', sans-serif;
  color: var(--title-color-primary);
}

span {
  font-family: 'Spartan', sans-serif;
}

.button {
  background-color: var(--title-color-primary);
  color: var(--base-color-tertiary);
  height: 56px;
  display: inline-flex;
  align-items: center;
  padding: 0 32px;
  border-radius: 5px;
  font-family: 'Spartan', sans-serif;
  transition: background 0.3s;
}

.button:hover {
  background-color: var(--base-color-tertiary);
  color: var(--text-color-secondary);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    #ffffff 0%,
    #3B3D3F 100%
  );
}

/*====  LAYOUT ============================ */
.container {
  margin: 0 10%;

}

.grid {
  display: grid;
  gap: 32px;
}

.section {
  height: 500px;
  padding: 80px 10px 0px 10px;
}

.logo {
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  color: var(--title-color-primary);
}

main {
  height: 72px;
}

/*====  HOME ============================ */
#home {
  overflow: hidden;
}

#home .container {
  grid-auto-flow: column;
  justify-content: space-between;
  margin: 1% 10%;
}

#home .image {
  order: 1;
  float: right;
  width: 300px;
}

#home .image img_logo_company{
  right: 47px;
  width: 30%;
  height: auto;
  margin-left: 24px;
  margin-right: 24px;
}

#home .text {
  order: 0;
  max-width: 420px;
  text-align: left;

}

#home .text h1 {
  font-size: 32px;
  margin-bottom: 16px;
}

#home .text p {
  margin-bottom: 32px;
  color: white;
  font-size: 22px;
}

#home .button {
  text-align: center;
  font-weight: bold;
}

.containernav{
  background-color: #1a1b1c;
  display: flex;
  justify-content: center;
  padding: 1.2%;
  height: 70px;
}

.containernav .gridnav #header_logo{
  background-color: #1a1b1c;
  font-weight: 1000;
  font-size: 26px;
  margin-top: 0.5%;
}

.containernav .gridnav .title{
  background-color: #1a1b1c;
  font-weight: 100;
  font-size: 20px;
}

.gridnav{   
  font-weight: 500;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  margin-top: 0.5%;
  width: 80%;
  list-style: none;
}

/* ------------------ LINHAS PARCEIRAS --------------- */
.addjust{
  height: 800px;
  display: flex;
  padding-top: 4%;
}
.linhas{
  background-position: center;
  
  height: 550px;
  margin-bottom: 30%;
}

.linhasTxt{
  height: 180px;
  width: 220px;
  font-size: 25px;
  font-weight: bolder;
  position: relative;
  border-radius: 5px;
}
.linhasTxt p{
  padding: 5%;
  color: white;
}
/* ANIMAÇÃO TEXTO */
.linhasTxt:after, 
.linhasTxt:before{
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right:0;
  transition: transform .3s ease-in-out;
  }
  .linhasTxt:before{
    border-left: 3px dashed #4ADAA8;
    border-right: 3px dashed #4ADAA8;
    transform:scaleY(0)
  }
  .linhasTxt:after{
    border-top: 3px dashed #4ADAA8;
    border-bottom: 3px dashed #4ADAA8;
    transform:scaleX(0)
  }
  .linhasTxt:hover::before{
    transform:scaleY(1)
  }
  .linhasTxt:hover::after{
    transform:scaleX(1)
  }
/*FOOTER*/
#main_footer{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: var(--base-color-primary);
}

footer{
  position: relative;
  width: 100%;
  background-color: #69b99d;
  min-height: 100px;
  padding: 20px, 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social_icon{
  position: relative;
  padding-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
 
footer .menu_footer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

footer .social_icon li, 
footer .menu_footer li{
  list-style: none;
}

footer .social_icon li a{
  font-size: 32px;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a img{
height: 24px;
width: 24px;
}

footer .social_icon li a:hover{
  transform: translateY(-10px);
}

footer .menu_footer li a{
  font-size: 20px;
  color: #2B2C2D;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.70;
}

footer .menu_footer li a:hover{
  opacity: 1;
  color: #222324;
  transition: 0.5s;
}

footer .rights_footer{
  color: #222324;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

footer .wave{
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../Images/greenWave.png);
  background-size: 1000px 100px;
}

footer .wave#wave1{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 7s linear infinite;
}

footer .wave#wave2{
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 7s linear infinite;
}

footer .wave#wave3{
  z-index: 1000;
  opacity: 0.75;
  bottom: 75px;
  animation: animateWave 6s linear infinite;
}

footer .wave#wave4{
  z-index: 999;
  opacity: 0.25;
  bottom: 25px;
  animation: animateWave_02 6s linear infinite;
}


@keyframes animateWave{
  0%{
    background-position-x: 1000px;
  }
  100%{
    background-position-x: 0px;
  }
}

@keyframes animateWave_02{
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: 1000px;
  }
}